{{ partial "header.html" . }}
<script src="{{ "main.js" | absURL }}"></script>
<div id="countdown" class="countdown"></div>

<style type="text/css">
	.hidden {display: none;}
</style>

<script>
var pages = [];
</script>

{{ range .Site.RegularPages }}
<article class="post-single hidden" id="{{ .RelPermalink }}">
	<a href="{{ .RelPermalink }}">
		<div class="post-content">{{ .Content }}</div>
	</a>
</article>
<script>
var url = '{{ .RelPermalink }}';
var exclude = ['/r/', '/links/'];
if (!exclude.includes(url)) {
	pages.push({
	  url: url,
	});
}
</script>
{{ end }}


<script type="text/javascript">

var index = Math.round(Math.random() * 1000) % pages.length;
var page = pages[index];

var el =  document.getElementById(page.url);
var elClass = el.getAttribute('class');
el.setAttribute('class', elClass.replace('hidden', ''));

runTimer({
  count: 120,
  tick: showCountdown,
  completed: function() {
    document.location.reload();
  }
})
</script>

{{ partial "footer.html" . }}