{{ partial "header.html" . }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <hr style="margin: 1em;"/>
      <div>
        <h3>Latest</h3>
        {{ range first 10 .Site.RegularPages }}
        <div>
          <a href="{{ .RelPermalink }}">
            {{ .Title }}
          </a>
        </div>
        {{ end }}
      </div>
    </main>
{{ partial "footer.html" . }}