{{ partial "header.html" . }}

{{ $pctx := . }}

{{ if .IsHome }}
{{ $pctx = .Site }}
{{ else }}
<header class="page-header">
  <h1>{{ if eq .Data.Singular "tag" }}{{ .Data.Term }}{{ else }}Posts{{ end }}</h1>
</header>
{{ end }}

<!-- $paginator := .Paginate (where $pctx.RegularPages "Type" "in" .Site.Params.mainSections) -->

{{ $paginator := .Paginate (.Site.RegularPages) }}


{{ if gt $paginator.TotalPages 0 }}
{{ range $index, $page := $paginator.Pages }}
<!--
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0)            }}first-entry{{ else }}post-entry{{ end }}
-->
<article class="post-entry">
  <header class="entry-header">
    {{ .Title }}
  </header>
  <!-- <section class="entry-content">
   <p>{{ .Summary | plainify | htmlUnescape }}...</p>
  </section>
  <footer class="entry-footer">
    <time>{{ .Date.Format "January 2, 2006" }}</time>
  </footer>
 -->
  <a class="entry-link" href="{{ .Permalink }}"></a>
</article>
{{ end }}
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{ if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
    {{ end }}
  </nav>
</footer>
{{ end }}


{{ partial "footer.html" . }}
