.countdown {
	/*top: 0px; right: 0px;*/

	text-align: right;
	font-size: 12px;
	opacity: 0.4;
	padding-right: 2em;
	/*background-color: lightgreen;*/
	/*height: 4px;*/
}

a:link {
	text-decoration: underline;
}